div.container
{
}

div.letterEnvelopeContainer
{
    margin-top: 20px;
}

ul.letterNav
{
    margin: 0;
    list-style: none;
    float: right;
    position: relative;
    padding: 0;
    margin-right: 20px;
        
}

ul.letterNav li
{
    float: right;
    font-size: 12px;
    width: 55px;
    text-align: right;
}

ul.letterNav li a
{
    text-decoration: none;
}

ul.letterNav li a:hover
{
    text-decoration: underline;
}

.hearts_left
{
    padding-left: 0px;
}

a.voterLink
{
    color: #F59696 !important;
    text-decoration: underline !important;
    padding: 20px;
    margin: -20px;
    cursor:pointer;
}

a.voterLink:hover
{
	color: #B88282 !important;	
	text-decoration: underline;
}


ul.dateNav
{
    list-style: none;
    float: left;
    text-align: left;
    position: relative;
    padding-left: 20px;
    margin: 0;
}

ul.dateNav li 
{
    float: left;
    font-size: 12px;
    text-align: left;   
}

ul.dateNav li a
{
    text-decoration: none;
}

ul.dateNav li a:hover
{
    text-decoration: underline !important;
}

.letterContainer 
{
    padding-top: 10px;
    clear: both;
	text-align: left;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.normal{

}
.loved{
    background-color: #F59595;
}

a:link
{
    color: #F59696 !important;
    text-decoration: underline !important;
}

a:visited
{
    color: #F59696 !important;
    text-decoration: underline;
}

a:hover
{
    text-decoration: none !important;
}

a:active
{
    color: #9F3131 !important;
}

span.field-validation-valid
{
    display: none;
}


.pretty_box 
{
    color: #999;
    padding: 1px 0 0 0;
    text-align: center;
    line-height: normal;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: .7em;
    margin-left: auto;
    margin-right: auto;

}

.pretty_box a
{
	padding: 10px;
}

span#pretty_box_center
{
	width: 300px;
	float: left;
}

span#pretty_box_left
{
    display: none;
	width: 50%;
	margin-top: 7px;
	border-top: dotted 1px #F59696;
	float: left;
    position: relative;
    margin-left: 20px;
}

span#pretty_box_right 
{
    display: none;
	width: 50%;
	margin-top: 7px;
	border-top: dotted 1px #F59696;
	float: left;	
}

div.letterComments
{
    margin: 25px;
}


.comment
{
    padding-left: 10px;
    padding-right: 10px;
}

.comment_header
{
    border-bottom: 1px dotted black;
    padding-top: 10px;
    overflow: auto;
}

.commenter_name
{
    float: left;
    font-weight: bold;
}

a.comment_hide
{
    font-weight: normal;
    text-decoration: underline;
    cursor:pointer;
}

a.comment_hide:hover
{
    text-decoration: none;
}


.comment_letter
{
    float: left;
    padding-left: 3px;
}

.comment_date
{
    float: right;
}


.comment_message
{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

legend + .control-group
{
    margin: 0;
}

.control-group
{
    margin: 0;
}

#footer
{
    color: #999;
    padding: 1px 0 0 0;
    text-align: center;
    line-height: normal;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: .7em;
    /* border-bottom: dotted 1px #ddd; */
	width: 500px;
    margin-left: auto;
    margin-right: auto;
}

span#footer_center
{
	float: left;
}

span#footer_left
{
    display: none;
	width: 80px;
	margin-top: 7px;
	border-top: dotted 1px #aaa;
	float: left;
}

span#footer_right 
{
    display: none;
	width: 80px;
	margin-top: 7px;
	border-top: dotted 1px #aaa;
	float: left;	
}

#footer a
{
	padding: 10px;
	color: #999;
}

#footer a:hover
{
	color: #F59696;
}