@{
    ViewBag.Title = "Blocks";
}

<div class="letterEnvelopeContainer">

    <h2>blocks</h2>

    <ul>
        <li>@ViewBag.IPban ip bans</li>
        <li>@ViewBag.Subnetban ip-subnet bans</li>
    </ul>
</div>