@using letterstocrushes
@{
    ViewBag.Title = "Blocks";
}

<div class="letterEnvelopeContainer">

    <div style="padding: 15px; border: 1px dotted black">
            @using( Html.BeginForm() )
            {
                
                <h4 id="add">add a block</h4>
                
                <div class="comment_row">
                    <label for="what">Block what:</label>
                    <span class="comment_form">
                        <select id="what" name="what">
                            <option value="1">Letters</option>
                            <option value="2">Comments</option>
                            <option value="3">Chat</option>
                        </select>
                    </span>
                </div>                
                
                <div class="comment_row">
                    <label for="what">Block style:</label>
                    <span class="comment_form">
                        <select id="style" name="style">
                            <option value="1">IP</option>
                            <option value="2">Subnet</option>
                            <option value="3">GUID</option>
                        </select>
                    </span>
                </div>                                

                <div class="comment_row">
                    <label for="who">Block who:</label>
                    <span class="comment_form">
                        <input type="text" id="who" name="who" style="width: auto" />
                    </span>
                </div>

                <div class="comment_row">
                    <span class="comment_form">
                        <input type="submit" value="add block" class="submit_button" />
                    </span>
                </div>
            }


    </div>

    <p>
        letter ip bans
    </p>
    <ul>
        @foreach (letterstocrushes.Core.Model.Block b in ViewBag.IPban)
        {
            <text>
            <li>@b.Value</li>
            </text>
        }
    </ul>

</div>