<div id="about">

    <h2>letterstocrushes.com, established nov. 2008</h2>
    <p>
        we are a community of romantics. we are about sharing our own words on love and reading about others' experiences.
    </p>
    <p>
        as a community we represent the following principles:
    </p>
    <ul>
        <li>
            sometimes we need to tell someone about our love, but we cannot &mdash; for various reasons.
            this is a place to safely talk about your love.
        </li>
        <li>
            one rewarding way to live your life is to listen, support, validate and encourage other people in your
            community. this is one place to do this.
        </li>
        <li>
            we do not allow bullying, trolling or other disruptive behavior due to the
            sensitive nature of our letters. please see our rules in our <a href="~/terms#rules" data-ajax="false">terms of use</a>
            for more information or use the <a href="~/feedback" data-ajax="false">feedback</a> page to contact mods for help.
        </li>
    </ul>

    <p>
        we are currently working on a book that includes letters and comments made on this site from november 8th, 2013 onwards.
        the book will be published early 2015. please stay tuned for more information.
    </p>

    <p>you can <a href="~/feedback" data-ajax="false">contact the mod team</a> with your questions, thoughts, suggestions and requests.</p>

    <p>you can contact seth hayward at <a href="mailto:letters.to.crushes@gmail.com" data-ajax="false">letters.to.crushes@gmail.com</a> .</p>


</div>