<div id="about">

    <h2>our book :)</h2>
    <p>
        it took a long time to get here, but we are happy to finally offer our book
        for sale on Amazon.com.
    </p>

    <center><h3><a href="http://amzn.com/1495461971">buy it today on Amazon!</a> <a href="#note"><span style="font-size: 10px">free download</span></a></h3></center>

    <a href="http://amzn.com/1495461971" style="display: block; margin-left: 50px; margin-right: 50px">
    <img src="~/Content/cover-cropped-v2015-10-10.jpg" style="width: 100%;" />
    </a>

    <p>we would like to thank everyone for helping us create the book, and 
    supporting our efforts here at letters to crushes &mdash; including all our
    moderators, commenters, letter writers, readers and haters. this book started
    more than 4 years ago, and has gone through a lot of troubles
    in order to get here.</p>

    <p>but we would just like to say that we are not stopping here!
    we see this project as evolving and improving over time, adding in
    more letters and comments from the community, just as the website does.</p>

    <p>if you would like to help on the next version book, or help moderate our website,
    or just leave a message, please get in touch with us on the <a href="/feedback">feedback</a>
    page. we love to hear your feedback.</p>

    <p>thanks for reading, <br />
    take care,<br />
    <em>seth</em></p>

    <p><span style="font-weight: bold"><a name="note"></a>FREE DOWNLOAD</span>
    </p>
    
    <p><a href="~/Content/fourth-draft-v2015.09.19.pdf" target="_blank">click here to download the book</a></p>


</div>