<div id="about">

    <h2>letterstocrushes.com, established nov. 2008</h2>
    <p>
        we are a community of romantics. we are about sharing our own words on love and reading about others' experiences.
    </p>
    <p>
        as a community we represent the following principles:
    </p>
    <ul>
        <li>
            sometimes we need to tell someone about our love, but we cannot &mdash; for various reasons.
            this is a place to safely talk about your love.
        </li>
        <li>
            one rewarding way to live your life is to listen, support, validate and encourage other people in your
            community. this is one place to do this.
        </li>
        <li>
            we do not allow bullying, trolling or other disruptive behavior due to the
            sensitive nature of our letters. please see our rules in our <a href="~/terms#rules" data-ajax="false">terms of use</a>
            for more information or use the <a href="~/feedback" data-ajax="false">feedback</a> page to contact mods for help.
        </li>
    </ul>

    <p><strong>book update #1 (08-04-2014):</strong>
        we are currently working on a book that includes letters and comments made on this site from november 8th, 2013 onwards.
        the book will be published early 2015. please stay tuned for more information.
    </p>

    <p><strong>book update #2 (08-05-2015):</strong> the book draft is here, time for an "open reading"! hurray! after a lot of hard work and effort, we
        have a draft of the book that we are excited to share with the community. <a href="~/Content/pre-release-draft-v2015-08-04.pdf" target="_blank">click here to read the draft</a>.
        we will leave this draft available for everyone to review (if they wish), and then we will begin publishing on September 5 (30 days from now.) 
    </p>

    <p><strong>please get in touch with us via the feedback page if you'd like one of your letters removed or edited.</strong> we will do
    everything we can to recognize your contributions.</p>

    <p>you can <a href="~/feedback" data-ajax="false">contact the mod team</a> with your questions, thoughts, suggestions and requests.</p>

    <p>you can contact seth hayward at <a href="mailto:letters.to.crushes@gmail.com" data-ajax="false">letters.to.crushes@gmail.com</a> .</p>


</div>