@model letterstocrushes.Core.Model.Letter

<div class="letterEnvelopeContainer" id="letter-@Model.Id">

    <ul class="letterNav">

        @Html.Partial("_LetterVote", Model)
        @Html.Partial("_LetterComments", Model)

    </ul>

    <ul class="dateNav">
        <li>
            <a href="/letter/@(Model.Id)">@(Model.letterPostDate.ToString("MMMM d, h:mmtt"))</a>
        </li>
    </ul>

    <div class="letterContainer">
        @Html.Raw(Model.letterMessage)
    </div>

</div>