@model letterstocrushes.Core.Model.Letter

<div class="letterEnvelopeContainer">

        <div class="letterHeader">

            <ul class="letterNav">

                @Html.Partial("_LetterComments", Model)
                @Html.Partial("_LetterVote", Model)

            </ul>

            <ul class="dateNav">
                <li>
                    <a href="/letter/@(Model.Id)">@(Model.letterPostDate.ToString("MMMM d"))</a>            
                </li>
            </ul>

            <div style="clear: both"></div>

        </div>

            

    <div class="letterContainer">
        @Html.Raw(Model.letterMessage)
    </div>

</div>

