@model letterstocrushes.Core.Model.Letter

<div class="letterEnvelopeContainer">
    
    <ul class="letterNav">

        @Html.Partial("_LetterComments", Model)
        @Html.Partial("_LetterVote", Model)

    </ul>
    
    <ul class="dateNav">
        <li>
            <a href="/mobile/letter/@(Model.Id)">@(Model.letterPostDate.ToString("MMMM d, h:mmtt"))</a>        
        </li>
    </ul>

    <div class="letterContainer" id="z@(Model.Id)">
        @Html.Raw(Model.letterMessage)
    </div>

</div>