@{
    ViewBag.Title = "letters to crushes";
}

<div class="letterEnvelopeContainer">
  <h2>an error occurred :(</h2>
  <p>we're very sorry.</p>  
  <p>please email <a href="mailto:letters.to.crushes@gmail.com">letters.to.crushes@gmail.com</a> to report an issue.</p>
  <p>thank you.</p>

</div>
