@model IEnumerable<letterstocrushes.Core.Model.Letter>
@using letterstocrushes;

@{
    ViewBag.Title = "letters to crushes";
}

@foreach (var item in Model) {

    Html.RenderPartial("_LetterMoreListItem", item);    

}

@Html.Raw(Helpers.Pager(ViewBag.CurrentPage, ViewBag.Pages, Url.Content("~/more/"), false))

@section Footer {
    @Html.Partial("_Footer")
}


@if (ViewBag.CurrentPage > 3000)
{ 
    <text>

        <div id="disqus_thread" class="letterComments" style="display: none"></div>

        <script type="text/javascript" src="http://disqus.com/forums/crushes/embed.js"></script>
        <script type="text/javascript">

            //<![CDATA[
            (function () {

                var links = document.getElementsByTagName('a');
                var query = '?';

                for (var i = 0; i < links.length; i++) {
                    if (links[i].href.indexOf('#disqus_thread') >= 0) {
                        query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
                    }
                }
                document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/crushes/get_num_replies.js' + query + '"></' + 'script>');

            })();
            //]]>

        </script>


    </text>
}

@Html.Partial("_LetterVoteListener")

<script type="text/javascript" >

    $(document).ready(function() {

        var offset = new Date().getTimezoneOffset();
        $.cookie('userTimeZone', offset/60, { expires: 365 });

	    jQuery(document).bind('keydown', 'left',function (evt){previous_page(); return false; });
	    jQuery(document).bind('keydown', 'right',function (rght){next_page(); return false; });

	    var current_page = @ViewBag.CurrentPage;

	    function previous_page() {
		    var previous_page = current_page - 1;
		    if (previous_page > 0) {
			    window.location = "/more/page/" + previous_page;
		    }
	    }

	    function next_page() {
		    var next_page = current_page + 1;
		    window.location = "/more/page/" + next_page;
	    }

    });


</script>
