@{
    ViewBag.Title = "letters to crushes - privacy policy";
}

<div class="letterContainer">
    <h2><span style="color: #F59696">privacy policy 1-minute summary</span></h2>

    <p>
        <b>You don't have to provide personal information to use the <span style="color: #F59696">letters to crushes</span> Site.</b>
    </p>

    <ul>
        <li>Read the <span style="color: #F59696">letters to crushes</span> Site, post a letter
            to your crush, comment on a posted letter to a crush, or like a posted letter without
            registering an account.
        </li>
        <li>
            Register a chat room alias without assoicating the alias to any personal information.
        </li>
    </ul>

    <p>
        <b>We strive to make <span style="color: #F59696">letters to crushes</span> better by understanding
            how you use the <span style="color: #F59696">letters to crushes</span> Site. So, we collect some 
            information when you:
        </b>
    </p>

    <ul>
        <li>Make public contributions to the <span style="color: #F59696">letters to crushes</span> Site.</li>
        <li>Use the <span style="color: #F59696">letters to crushes</span> Site.</li>
        <li>Register an account.</li>
        <li>Send us <a href="@Url.Content("~/feedback")">feedback</a>.</li>
    </ul>

    <p>
        <b>We believe in:</b>
    </p>

    <ul>
        <li>Helping you understand how your information may be used or shared in this Privacy Policy.</li>
        <li>Keeping your data secure using reasonable measures.</li>
        <li>Never selling your data or sharing it with third parties for marketing reasons.</li>
        <li>Only sharing your data when required to for legal reasons, to protect you, us, or others,
            or to improve the <span style="color: #F59696">letters to crushes</span> Site.
        </li>
    </ul>
       
    <p>
        <b>Areas of concern:</b>
    </p>

    <ul>
        <li>Any content you add to the <span style="color: #F59696">letters to crushes</span> Site
            will be publicly and permanently available.
        </li>
        <li>This Privacy Policy does not apply to third-party actions and sites, such as anonsongs.com.</li>
    </ul>

    <p>        
        <b style="color: #F59696">
            <img src="@Url.Content("~/content/apple-touch-icon-precomposed.png")" alt="" style="float: left" />
            Disclaimer: This short summary is not a legal document and should not be treated as a part of the
            <a href="@Url.Content("~/privacy")">Privacy Policy</a>. It is meant to be used as a quick overview of the Privacy Policy.
        </b>
    </p>

    <hr />

    <h2><span style="color: #F59696">letters to crushes</span> privacy policy</h2>
    <span style="font-size: 10px">effective: 11/1/2013</span>

    <p><span style="color: #F59696">letters to crushes</span> is committed to respecting the privacy rights
        of the visitors, contributors, and other users of the <span style="color: #F59696">letters to crushes</span>
        Site. Reading this Privacy Policy is important. This Privacy Policy explains how 
        <span style="color: #F59696">letters to crushes</span> collects, uses, and shares information we receive
        from you through your use of the <span style="color: #F59696">letters to crushes</span> Site. By using
        the <span style="color: #F59696">letters to crushes</span> Site, you consent to the collection, transfer,
        processing, storage, disclosure, and use of your information as described in this Privacy Policy.
    </p>

    <p>
        Creating an account or contributing content to the <span style="color: #F59696">letters to crushes</span>
        Site is entirely optional and is not required in order to use the <span style="color: #F59696">letters to crushes</span>
        Site. You do not have to provide your real name or email address to send your crush a letter or make a 
        comment on a posted letter. We do not sell or rent your nonpublic information, nor do we use it to sell
        you any kind of third-party products or services. We use this information to make the <span style="color: #F59696">letters to crushes</span>
        Site better for you.
    </p>

    <p>
        After all, it's people like you who allow <span style="color: #F59696">letters to crushes</span> to thrive.
    </p>

    <p>
        We want everyone (not just legal eagles) to be able to understand how the information they provide in
        connection with <span style="color: #F59696">letters to crushes</span> is used. So, we use common
        language instead of legalese. Here's a table of translations:
    </p>

    <table>
        <thead>
            <tr>
                <td>how we say it...</td>
                <td>what we mean</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 200px">
                    <ul>
                        <li>"<span style="color: #F59696">letters to crushes</span>"</li>
                        <li>"us"</li>
                        <li>"our"</li>
                        <li>"we,"</li>
                    </ul>

                </td>
                <td>
                    Seth Hayward, the sole proprietor, who operates the <span style="color: #F59696">letters to crushes</span> Site,
                         as well as any entities controlled, managed, or operated by Seth Hayward for the purpose of supporting the <span style="color: #F59696">letters to crushes</span> Site
                         and all applications.
                </td>

            </tr>

            <tr>
                <td>
                    "the <span style="color: #F59696">letters to crushes</span> Site"
                </td>
                <td>
                    The <span style="color: #F59696">letters to crushes</span> website, www.letterstocrushes.com,
                    and services, including emails and the associated chat room, but excluding the sites and services
                    listed in the "<b>what this privacy policy doesn't cover</b>" section below.
                </td>
            </tr>

            <tr>
                <td>
                    <ul>
                        <li>"you"</li>
                        <li>"your"</li>
                    </ul>
                </td>
                <td>
                    You! Regardless of whether you are an individual, organization, or group we mean
                    you. This also applies regardless of whether you are using the <span style="color: #F59696">letters to crushes</span>
                    site on behalf of yourself or someone else.
                </td>
            </tr>

            <tr>
                <td>"this Privacy Policy"</td>
                <td>
                    This document, which you are currently reading, entitled "<span style="color: #F59696">letters to crushes</span> privacy
                    policy".
                </td>
            </tr>

            <tr>
                <td>"contributions"</td>
                <td>Content, such as a letter to your crush, a comment, or a "like", which you add to the
                    <span style="color: #F59696">letters to crushes</span> Site.
                </td>
            </tr>

            <tr>
                <td>"personal information"</td>
                <td>Information we collect about you that could be used to personally identify you.</td>
            </tr>

            <tr>
                <td>
                    <ul>
                        <li>"third party"</li>
                        <li>"third parties"</li>
                        <li>"third-party providers"</li>
                        <li>"third-party service providers"</li>
                    </ul>
                </td>
                <td>Individuals or entities that are not managed, operated, or controlled by 
                    <span style="color: #F59696">letters to crushes</span>. This includes employees, directors, officers,
                    and contractors of those entities, as well as other <span style="color: #F59696">letters to crushes</span> users.
                </td>
            </tr>

        </tbody>
    </table>

    <h2>what this privacy policy covers</h2>
    <p>This Privacy Policy only applies to the <span style="color: #F59696">letters to crushes</span> Site. 
        Specifically, this Privacy Policy covers:
    </p>

    <ul>
        <li>The <span style="color: #F59696">letters to crushes</span> Site, including the chat room.</li>
        <li>Emails and notifications sent from us or sent to us from you.</li>
        <li>Our use of cookies.</li>
    </ul>

    <h2>what this privacy policy doesn't cover</h2>
    <p>Because this PRivacy Policy only applies to the Site, we want to be sure that you understand
        what it does not cover:
    </p>

    <ul>
        <li>Third-party service providers, which we use to provide the <span style="color: #F59696">letters to crushes</span>
            Site and improve your experience on the <span style="color: #F59696">letters to crushes</span> Site, 
            may collect information automatically sent by your browser or through cookies set by the third-party
            providers. Please refer directly to these third-party providers' privacy policies to
            understand their privacy practices.
        </li>
        <li>Links to other websites, such as anonsong.com, even if access through the <span style="color: #F59696">letters to crushes</span>
            Site
        </li>
        <li>The use of cookies by third parties. We do not control when or how third parties place cookies on your
            computer.
        </li>
        <li>
            The actions of third parties, meaning individuals or groups that we do not employ or control,
            including other <span style="color: #F59696">letters to crushes</span> users.
        </li>
    </ul>

</div>

