@model IEnumerable<letterstocrushes.Core.Model.Letter>

@{
    ViewBag.Title = "letters to crushes: the queue";
}

<div class="letterContainer">

    <h2>the queue        <input type="button" id="btnPublish" title="publish" value="publish" />

    </h2>

    <ul>
        @if (ViewBag.Count == 0)
        {        
            <li>the queue is empty! fill it up with something @Html.ActionLink("good", "popular")</li>    
        }
        else
        {                               
            foreach (var item in Model) {
                Html.RenderPartial("_LetterQueueListItem", item);
            }        
        }    
    </ul>


</div>

<script>

    $(document).ready(function () {
        $("#btnPublish").on('click', function () {
            $("#btnPublish").hide();

            $.get('@Url.Content("~/home/publishqueue")', function (data) {
                $("#btnPublish").show();
                alert('A letter was published to the front page. Thank you!');
            });

        });
    });

</script>

   
@section Footer {
    @Html.Partial("_Footer")
}
