@{
    ViewBag.Title = "letters to crushes - terms of use";
}

<div class="letterContainer">
    <h2><span style="color: #F59696">letters to crushes</span> terms of use</h2>
    <p>We welcome you as a reader or contributor of the <span style="color: #F59696">letters to crushes</span> Site,
        and we encourage you to participate in our community. Before you take part, 
        however, we ask that you please read and agree to the following Terms of Use.</p>
    <p>
        We want everyone (not just attorneys) to understand the following Terms of Use
        and agree to it before engaging in the letters to crushes online community. 
        So, we use common language instead of legalese. Here’s a table of translations:

    </p>

    <table>
        <thead>
            <tr>
                <td>how we say it...</td>
                <td>what we mean</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 200px">
                    <ul>
                        <li>"letters to crushes"</li>
                        <li>"us"</li>
                        <li>"our"</li>
                        <li>"we,"</li>
                    </ul>
                </td>
                <td>
                    Seth Hayward, the sole proprietor, who operates the <span style="color: #F59696">letters to crushes</span> Site,
                         as well as any entities controlled, managed, or operated by Seth Hayward for the purpose of supporting the <span style="color: #F59696">letters to crushes</span> Site
                         and all applications.
                </td>
            </tr>

            <tr>
                <td>
                    "the <span style="color: #F59696">letters to crushes</span> Site"
                </td>
                <td>The <span style="color: #F59696">letters to crushes</span> website, www.letterstocrushes.com, and
                    services, including applications, emails, and the associated chat room.
                </td>
            </tr>

            <tr>
                <td>
                    <ul>
                        <li>"you"</li>
                        <li>"your"</li>
                    </ul>
                </td>
                <td>
                    You! Regardless of whether you are an individual, organization, or group
                    we mean you. This also applies whether you are using the <span style="color: #F59696">letters to crushes</span> site
                    on behalf of yourself or someone else.
                </td>
            </tr>

            <tr>
                <td>"Terms of Use"</td>
                <td>This document, which you are currently reading entitled "<span style="color: #F59696">letters to crushes</span> terms of use".</td>
            </tr>

            <tr>
                <td>"contributions"</td>
                <td>Content, such as a letter to your crush, a comment, or a "like", which you add the <span style="color: #F59696">letters to crushes</span> Site.</td>
            </tr>

            <tr>
                <td>"personal information"</td>
                <td>Information we collection about you that could be used to personally identify you.</td>
            </tr>

            <tr>
                <td>
                    <ul>
                        <li>"third party"</li>
                        <li>"third parties"</li>
                        <li>"third-party providers"</li>
                        <li>"third-party service providers"</li>
                    </ul>
                </td>
                <td>Individuals or entities that are not managed, operated, or controlled by
                    <span style="color: #F59696">letters to crushes</span>. This includes employees, directors, officers,
                    and contractors of those entities, as well as other <span style="color: #F59696">letters to crushes</span> users.
                </td>
            </tr>
        </tbody>
    </table>

    <h2>1. our services</h2>
    <p><span style="color: #F59696">letters to crushes</span> hosts letters our users post to their crushes. We only act 
        as a hosting service, which means we maintain the infrastructure that allows you to post your thoughts and feelings
        as contributions to the <span style="color: #F59696">letters to crushes</span> Site. Regarding our relationship
        to you and the other users of the <span style="color: #F59696">letters to crushes</span> Site, please keep the following
        in mind:
    </p>
        <ul>
            <li><b>Your actions are your own.</b> You are legally responsible for the contributions you make. While, we hope and
                intend for the contributions made to the <span style="color: #F59696">letters to crushes</span> to be harmless,
                we cannot offer any protection, immunity, guarantee, or indemnification from legal authorities, including legal
                authorities outside of the United States. So, please be aware of the local laws where you live, edit or
                view content on the <span style="color: #F59696">letters to crushes</span> Site. For your own protection, please
                avoid contributing:
                <ul>
                    <li>content to the <span style="color: #F59696">letters to crushes</span> Site that would result in civil
                        or criminal liability under any applicable laws; and
                    </li>
                    <li>Personal information, such as your current location, your home address, or the home address of others.</li>
                </ul>
            </li>
            <li><b>We are not editors.</b> Users like yourself submit all of the content that we host on the <span style="color: #F59696">letters to crushes</span>
                Site. In general, we do not edit or monitor the content that is submitted, nor are we responsible for the content
                of the contributions to the <span style="color: #F59696">letters to crushes</span> Site. We simply provide an avenue
                for you to access letters and other content your fellow users have contributed without endorsing any opinions
                expressed within the posted content or representing or guaranteeing the accuracy, truthfulness, ore reliability
                of any contributions to the <span style="color: #F59696">letters to crushes</span> Site.
            </li>
        </ul>

    <p>        
        <b style="color: #F59696">
            <img src="@Url.Content("~/content/apple-touch-icon-precomposed.png")" alt="" style="float: left" />            
            We are not responsible for the consequences of posting or sharing any information, including personal information,
            on the letters to crushes Site.
        </b>
    </p>

    <h2>2. content we host</h2>

    <p>
        <b>Our content is for entertainment purposes only.</b> Nothing posted on the <span style="color: #F59696">letters to crushes</span>
        should be taken as professional advice. Before you act on any information, advice, or opinion offered through the
        <span style="color: #F59696">letters to crushes</span> Site, please seek independent, professional counseling from someone qualified
        in the applicable area.
    </p>
    <p>
        <b>You may find some content offensive or objectionable.</b> Please use common sense and proper judgment when using the
        <span style="color: #F59696">letters to crushes</span> Site.
    </p>

    <h2>3. privacy policy</h2>

    <p>Please review our <a href="@Url.Content("~/privacy")">Privacy Policy</a>, so that you understand how we collect and
        use your information. People all over the world use our services. As a result, personal information we collect may be stored and processed in the United States of America
        or any other location in which we or our agents maintain facilities. Your use of the <span style="color: #F59696">letters to crushes</span> Site constitutes your consent to 
        any such transfer of information outside your country.
    </p>

    <h2>4. passwords</h2>

    <p>
        Your password is your responsibility. Never disclose it to any third party.
    </p>

    <h2>5. inappropriate activities</h2>

    <p>
        <span style="color: #F59696">letters to crushes</span> exists because of people like you, who contribute, read, and comment
        on the content. We want you to participate in the online community. We also want to protect you and everyone else who uses
        the <span style="color: #F59696">letters to crushes</span> Site. So, we hope that you'll be courteous in your interactions
        with other community members.
    </p>

    <p>Certain harmful activities, regardless of their legality, violate our rules and some activities may also subject you to civil
        or criminal liability. For your own protection, as well as the protection of other users of the <span style="color: #F59696">letters to crushes</span>
        Site, you may not enter into these activities on our site.
    </p>

    <ul>
        <li><b>Bullying, Harassing, or Abusing Others</b>
            <ul>
                <li>Harassment, stalking, spamming, vandalism, or making threats is not permitted on the <span style="color: #F59696">letters to crushes</span>
                    Site.
                </li>
            </ul>
        </li>

        <li><b>Impersonation or Fraud</b>
            <ul>
                <li><span style="color: #F59696">letters to crushes</span> encourages you to substitute real names with
                    initials or pseudonyms when using the <span style="color: #F59696">letters to crushes</span> Site.
                    However, we explicitly do not allow the following:

                    <ul>
                        <li>impersonation of another individual or user, or using the alias of another user with the
                            intent to deceive; and
                        </li>
                        <li>
                            posting content that is libelous or defamatory.
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

        <li><b>Violating Other People's Privacy </b>
            <ul>
                <li>The health and well-being of all of our users is important, but especially in relation
                    to minors under the age of eighteen (18). Solicitation of personally identifiable information
                    from anyone under the age of eighteen (18) for an illegal purpose or violating any applicable laws
                    regarding minor users of the <span style="color: #F59696">letters to crushes</span> is prohibited.
                </li>
                <li>Solicitation of personally identifiable information for the purpose of
                    violating the privacy of others, harassment, exploitation, or any promotional
                    or commercial purpose is explicitly not permitted by <span style="color: #F59696">letters to crushes</span>.
                </li>
                <li>
                    <span style="color: #F59696">letters to crushes</span> expressly prohibits infringement of the privacy
                    rights of others, both in accordance with the laws of the United States, as well as the laws of any other applicable jurisdiction.
                    Please be aware of the local laws where you live or where you view or submit content.
                </li>
            </ul>
        </li>

        <li><b>Infringing Proprietary Rights</b>
            <ul>
                <li>Copyright, patent, trademark, or other infringement of proprietary rights under applicable law is prohibited.</li>
            </ul>
        </li>

        <li><b>Use for Other Illegal Purposes</b>
            <ul>
                <li>The following activities are probhited on the <span style="color: #F59696">letters to crushes</span> Site:
                    <ul>
                        <li>contributing content or exhibiting behavior in the <span style="color: #F59696">letters to crushes</span> chat room
                            that violates applicable law concerning child prnography;
                        </li>
                        <li>
                            posting or trafficking in obscene material that is unlawful under applicable law; and
                        </li>
                        <li>
                            using the <span style="color: #F59696">letters to crushes</span> Site in a manner that conflicts with applicable law.
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        
        <li>            
            <b>Disrupting the <span style="color: #F59696">letters to crushes</span> Site or interfering with another party's enjoyment of the
            <span style="color: #F59696">letters to crushes</span> Site
            </b>

            <ul>
                <li>Uploading, transmitting, or otherwise making available through the <span style="color: #F59696">letters to crushes</span>
                    Site content that contains software viruses or any other computer files, programs, or code designed to limt, destroy, or
                    interrupt the functionality of any computer softare, hardware, or telecommunications equipment is strictly 
                    prohibited.
                </li>
                <li>Using the <span style="color: #F59696">letters to crushes</span> Site in any manner that could overburden,
                    damage, impair, or disable any <span style="color: #F59696">letters to crushes</span> server, or network(s) connections or
                    interfere with another user's enjoyment and use of the <span style="color: #F59696">letters to crushes</span> Site is not allowed.
                </li>
                <li>
                    Gaining unauthorized access to any <span style="color: #F59696">letters to crushes</span> Site content, accounts, network(s), or
                    computer systems through password mining, hacking, scraping, or by any other means to obtain any materials or information not intentionally
                    made available on the <span style="color: #F59696">letters to crushes</span> Site.
                </li>
            </ul>

        </li>
    </ul>

    <p><span style="color: #F59696">letters to crushes</span> reserves the right at all times, but does not have
        an obligation, to remove or refuse to distribute any contributions on the <span style="color: #F59696">letters to crushes</span>
        Site, and to suspend or terminate users. We also reserve the right to read, access, preserve, and disclose any 
        information as we reasonably believe is necessary to:
    </p>

    <ul>
        <li>satisfy applicable law, regulation, legal process, or governmental request;</li>
        <li>enforce these Terms of Use, including investigations of potential violations hereof;</li>
        <li>detect, prevent, or otherwise address fraud, security or technical issues;</li>
        <li>response to user support requests; and</li>
        <li>protect the rights, property or safety of <span style="color: #F59696">letters to crushes</span>, its users, and the public.</li>
    </ul>


</div>


@section Footer {
    @Html.Partial("_Footer")
}