<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
      <!--
      
    <add name="db_mysql" connectionString="metadata=res://*/Data.db_mysql.csdl|res://*/Data.db_mysql.ssdl|res://*/Data.db_mysql.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=test;persist security info=True;database=mysql5_670082_letters&quot;" providerName="System.Data.EntityClient" />
    <add name="db_mssql" connectionString="metadata=res://*/Data.db_mssql.csdl|res://*/Data.db_mssql.ssdl|res://*/Data.db_mssql.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=SQL2008_670082_letters;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

      <add name="db_mysql" connectionString="metadata=res://*/db_mysql.csdl|res://*/db_mysql.ssdl|res://*/db_mysql.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=test;persist security info=True;database=mysql5_670082_letters&quot;" providerName="System.Data.EntityClient" />


      --><add name="db_mssql" connectionString="metadata=res://*/db_mssql.csdl|res://*/db_mssql.ssdl|res://*/db_mssql.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SETH-BOX\MSSQLSERVER2008;initial catalog=SQL2008_670082_letters;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="db_mysql" connectionString="metadata=res://*/db_mysql.csdl|res://*/db_mysql.ssdl|res://*/db_mysql.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;persist security info=True;database=shayward_mysql_letters&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>
