@model IEnumerable<letterstocrushes.Core.Model.Letter>
@using letterstocrushes

@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
    ViewBag.Title = "bookmarks";
}

@if (Model.Count() == 0)
{
    <ul>
        <li>no bookmarks yet :(
        <br /> 
        you can bookmark any letter on the site by going to the individual letter page and clicking the "bookmark" link below the letter (above the comment section.)</li>
    </ul>        
}
else
{

    foreach (var item in Model)
    {
        Html.RenderPartial("_LetterMobileBookmarkListItem", item);
    }

    @Html.Raw(Helpers.Pager(ViewBag.CurrentPage, ViewBag.Pages, Url.Content("~/mobile/bookmarks")))
        
}

@Html.Partial("_LetterMobileVoteListener")

<script type="text/javascript">

    $(document).ready(function() {

        var offset = new Date().getTimezoneOffset();
        $.cookie('userTimeZone', offset/60, { expires: 365 });

        var resp;

        $("a.hiderLink").click(function(e) {

            resp = $(this).attr("id").substring(1);

            var publishArgs = "id=" + resp;

            $.ajax(
                {
                    type: "post",
                    url: "@Url.Content("~/Account/HideBookmark")",
                    data: publishArgs,
                    dataType: "json",
                    processData: false,
                    success: function(result)
                    {
                        // if the result.Code == 1, success, if result.Code == 0, failure
                        //alert(result.Code + ' - ' + result.Message);                                
                        $("#c" + resp).fadeOut(100);
                    },                
                    error : function(req, status, error)
                    {
                        alert("Sorry! There was an error. We could not hide this bookmark. Please email letters.to.crushes@gmail.com if this happens again. (" + error + ")");   
                    }
                });

        });


    });
    
</script>
