@{
    ViewBag.Title = "letters to crushes";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";    
}

<div class="letterContainer">
    <h2>@ViewBag.Header</h2>
    <p>@ViewBag.Message</p>
    <p>Continue on to the <a href="@Url.Content("~/mobile/more")" data-ajax="false">more page</a>.</p>
</div>

